window_dump_html.html
weights
*openaiconfig.yaml
visualization
bandits.yaml

*output*
logs
logs-historyless/
bandits.logs/
logs-webshop/
logs-alfworld/
logs-tmp
history-pools/*.*qu.*.yaml

__pycache__
tags
tags-opts
.syncthing.*.tmp

backup-configs/
data-backup/
llmdemo*

snapshots
#branch-config/

*.ipynb*
*.pyc
*.swp

.DS_Store
.idea/
.pytest_cache/
.vscode/

__pycache__/
data/
search_engine/indexes*
search_engine/resources*
transfer/flagged
user_session_logs/
